<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href={{asset("vendor/bootstrap/css/bootstrap.min.css")}} >


            <!-- Additional CSS Files -->
            <link rel="stylesheet" href={{asset("assets/css/fontawesome.css")}}>
            <link rel="stylesheet" href={{asset("assets/css/templatemo-edu-meeting.css")}}>
            <link rel="stylesheet" href={{asset("assets/css/owl.css")}}>
            <link rel="stylesheet" href={{asset("assets/css/lightbox.css")}}>
            <link rel="stylesheet" href={{asset("assets/css/fontawesome.css")}}>
            <link rel="stylesheet" href={{asset("css/document.css")}}>
            <link rel="stylesheet" href="{{ asset('css/ServiceForm.css') }}">
            <link rel="stylesheet" href={{asset("")}}>

            {#back#}
            <link href={{asset("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css")}} rel="stylesheet">
            <link href={{asset("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css")}} rel="stylesheet">

            <!-- Libraries Stylesheet -->
            <link href={{asset("back/lib/owlcarousel/assets/owl.carousel.min.css")}} rel="stylesheet">
            <link href={{asset("back/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css")}} rel="stylesheet" />

            <!-- Customized Bootstrap Stylesheet -->
            <link href={{asset("back/css/bootstrap.min.css")}} rel="stylesheet">

            <!-- Template Stylesheet -->
            <link href={{asset("back/css/style.css")}} rel="stylesheet">
                {% endblock %}

        {% block javascripts %}
                    <!-- Bootstrap core JavaScript -->
            <script src={{asset("vendor/jquery/jquery.min.js")}}></script>
            <script src={{asset("vendor/bootstrap/js/bootstrap.min.js")}}></script>

            <script src={{asset("assets/js/isotope.min.js")}}></script>
            <script src={{asset("assets/js/owl-carousel.js")}}></script>
            <script src={{asset("assets/js/lightbox.js")}}></script>
            <script src={{asset("assets/js/tabs.js")}}></script>
            <script src={{asset("assets/js/video.js")}}></script>
            <script src={{asset("assets/js/slick-slider.js")}}></script>
            <script src={{asset("assets/js/custom.js")}}></script>
            <script>
                //according to loftblog tut
                $('.nav li:first').addClass('active');

                var showSection = function showSection(section, isAnimate) {
                var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

                if (isAnimate) {
                    $('body, html').animate({
                    scrollTop: reqSectionPos },
                    800);
                } else {
                    $('body, html').scrollTop(reqSectionPos);
                }

                };

                var checkSection = function checkSection() {
                $('.section').each(function () {
                    var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                    if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
                    }
                });
                };

                $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
                e.preventDefault();
                showSection($(this).attr('href'), true);
                });

                $(window).scroll(function () {
                checkSection();
                });
            </script>
            <script src={{asset("https://code.jquery.com/jquery-3.4.1.min.js")}}></script>
            <script src={{asset("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js")}}></script>
            <script src={{asset("back/lib/chart/chart.min.js")}}></script>
            <script src={{asset("back/lib/easing/easing.min.js")}}></script>
            <script src={{asset("back/lib/waypoints/waypoints.min.js")}}></script>
            <script src={{asset("back/lib/owlcarousel/owl.carousel.min.js")}}></script>
            <script src={{asset("back/lib/tempusdominus/js/moment.min.js")}}></script>
            <script src={{asset("back/lib/tempusdominus/js/moment-timezone.min.js")}}></script>
            <script src={{asset("back/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js")}}></script>
            <script src="https://www.paypal.com/sdk/js?client-id=AbRKFLgtSCyAKMso_haSpB4BYQBuoV8XdYIWpdy-3qZoXu1LEWXRgNTGNv73ed56tcSdYQ5wTW56uGWB"></script>

         <!-- Template Javascript -->
            <script src={{asset("back/js/main.js")}}></script>
        {% endblock %}
    </head>
    <body>

    {% block headerfront %}

    <!-- ***** Header Area Start ***** -->
    {#<header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            Edu Meeting
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Forum</a>
                                <ul class="sub-menu">
                                    <li><a href="meetings.html">Upcoming Meetings</a></li>
                                    <li><a href="meeting-details.html">Meeting Details</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Events</a>
                                <ul class="sub-menu">
                                    <li><a href="meetings.html">Upcoming Meetings</a></li>
                                    <li><a href="meeting-details.html">Meeting Details</a></li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Biblio</a>
                                <ul class="sub-menu">
                                    <li><a href="meetings.html">Upcoming Meetings</a></li>
                                    <li><a href="meeting-details.html">Meeting Details</a></li>
                                </ul>
                            </li>
                            {#  <li class="has-sub">
                              <a href="javascript:void(0)">Services</a>
                                <ul class="sub-menu">
                                    <li><a href="meetings.html">Upcoming Meetings</a></li>
                                    <li><a href="meeting-details.html">Meeting Details</a></li>
                                </ul>
                            </li>

                            {#<li><a href="meetings.html">Meetings</a></li>

                            <li class="has-sub">
                                <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="meetings.html">Upcoming Meetings</a></li>
                                    <li><a href="meeting-details.html">Meeting Details</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#courses">Courses</a></li> #}
                            {#<li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>

    <!-- ***** Header Area End ***** -->

    </header>#}
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            EcoFriendly Esprit
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->

                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{ path('apptemplate')}}" class="active">Home</a></li>
                            {# <li class="scroll-to-section"><a href="{{ path('user_profile',{'id' : user.iduser()} ) }}" class="active">Profil</a></li> #}
                            <li class="has-sub">
                                <a href="javascript:void(0)">Forum</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('SaleandExchange') }}">Sale & Exchange</a></li>
                                    <li><a href="{{ path('CodingProblems') }}">Coding Problems</a></li>
                                    <li><a href="{{ path('EspritProblems') }}">Esprit Problems</a></li>
                                    <li><a href="{{ path('myforum') }}">My Forum</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{{ path('affichecard') }}" class="active">Event</a></li>
                            <li class="scroll-to-section"><a href="{{ path('app_reservation') }}" class="active">Transport</a></li>

                            <li class="has-sub">
                                <a href="javascript:void(0)">Biblio</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('AfficheDoc')}}">LYBRIRY</a></li>
                                    <li><a href="{{ path('mylibrary') }}">MY LIBRARY</a></li>

                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Services</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('app_service_shop') }}"> service shop</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                        </ul>

                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    <!-- ***** Header Area End ***** -->
    </header>
    {% endblock %}
        {% block body %}{% endblock %}
    {% block footerfront %}
    <footer>
        <section class="contact-us" id="contact">
            <div class="footer">
                <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved.
                <br>
                Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                <br>
                Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
                </p>
            </div>

        </section>
    </footer>
    {% endblock %}
    </body>
</html>
