{% extends 'base.html.twig' %}

{% block title %}Add Post!{% endblock %}

{% block body %}
<section class="contact-us" id="contact">
    <div class="form-container">
    <h2> Add Your Post!</h2>
    {% for flashMessage in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
    {% endfor %}
    <table>

        {# Ajoutez la classe "form-container" à l'élément du formulaire #}
        {{ form_start( form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="align">
    <tr>
        <div class="form-group">
             <div class="formu-Postlabel">
                {{ form_label(form.subject) }}
            </div>
            {{ form_widget(form.subject) }}
        </div>
        
    </tr>
    <tr>
        <div class="form-group">
            <div class="formu-Postlabel">
                <label class="col-sn-4 col-form-label">Title </label>
            </div>
            <div style="background-color: white;">
                {{ form_widget(form.title) }}
            </div>
        </div>
        {{ form_errors(form.title, { attr: { class: 'text-danger' }, only: true }) }}
   
    </tr>
    <tr>
        <div class="form-group">
            <div class="formu-Postlabel">
                <label class="col-sn-4 col-form-label">Content </label>
            </div>
            {{ form_widget(form.descriptionPost) }}
        </div>
         {{ form_errors(form.descriptionPost, { attr: { class: 'text-danger' }, only: true }) }}
    </tr>
        <div class="form-group">
            <div class="formu-Postlabel">
                <label class="col-sn-4 col-form-label">Upload Photo </label>
            </div>
            {{ form_widget(form.imagePost) }}
        </div>
    </tr>
        {# Si vous avez exclu idUser du mappage, vous pouvez l'ajouter manuellement ici si nécessaire #}
        {# <div class="form-group">
            {{ form_label(form.idUser) }}
            {{ form_row(form.idUser) }}
        </div> #}

        {# Bouton de soumission #}
    <tr> 
        <div class="form-group">
            <li data-filter="*"><a href="{{ path('SaleandExchange') }}">{{ form_widget(form.Share) }}</a></li> 
        </div>
    </tr>
    </table>
        {{ form_end(form) }}
    </div>
    </div>
</section>
{% endblock %}