{% extends 'back.html.twig' %}

{% block title %} List Post {% endblock %}

{% block body %}
 {{ parent() }}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 16px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 14px; /* Adjust font size */
        }
        th, td {
            border: 1px solid #ddd;
            padding: 6px; /* Adjust padding */
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        img {
            max-width: 80px;  /* Set a max width for the image */
            max-height: 80px; /* Set a max height for the image */
        }
    </style>
    <!-- Table Start -->
   <section class="upcoming-meetings" id="meetings">
        <div class="example-wrapper">
            <h6 class="mb-4">List Posts</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Prenom User</th>
                            <th scope="col">Nom User</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Date of Creation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in p %}
                            <tr>
                                <td>{{ post.getUser().getPrenomuser() }}</td>
                                <td>{{ post.getUser().getNomuser() }}</td>
                                <td>{{ post.subject }}</td>
                                <td>{{ post.title }}</td>
                                <td>{{ post.descriptionPost }}</td>
                                <td>{% if post.getImagePost() is not null %}
                                    <img src="{{ asset(post.getImagePost()) }}" alt="" class="post-image">
                                {% else %}
                                    <p>No image available</p>
                                {% endif %}</td>
                                <td>{{ post.dateCreationPost|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- Table End -->
{% endblock %}
