{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}

<section class="contact-us" id="contact">

<h1>Orders</h1>

    <table class="table form-container">
        <tbody>
            <tr>
                <th>Orderid</th>
                <td>{{ order.orderid }}</td>
            </tr>
            <tr>
                <th>NumOrder</th>
                <td>{{ order.numOrder }}</td>
            </tr>
            <tr>
                <th>Pickupdatetime</th>
                <td>{{ order.pickupdatetime ? order.pickupdatetime.format('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ order.phonenumber }}</td>
            </tr>
            <tr>
                <th>Priceorder</th>
                <td>{{ order.priceorder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_orders_index') }}">back to list</a>

    <!--<a href="{{ path('app_orders_edit', {'orderid': order.orderid}) }}">edit</a>-->

    {{ include('orders/_delete_form.html.twig') }}
</section>
{% endblock %}
