
{% block title %}forget password{% endblock %}

{% block body %}
    <style>
        .container {
            margin-top:110px;
            max-width: 800px;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
 <div class="container" >
        <section class="section register ">
            {% for message  in app.flashes('message') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        </section>
        <section class="section register ">
            {% for danger  in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ danger }}
                </div>
            {% endfor %}
    <table>

       
        {{ form_start( form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="align">
    <tr>
        <div class="form-group">
            <label for="inputText" class="col-sm-4 col-form-label">EMAIL:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.mailuser,{'attr':{'class':'form-control'}}) }}

                    </div>
                    {{ form_errors(form.mailuser,{'attr':{'class':'text-danger'}}) }}
 
   
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Send</button>
                                </div>
    </table>
        {{ form_end(form) }}
    </div>
    </div>
</section>
{% endblock %}

